body{
  /* background-color: red; */
  padding: 1em;
}

.inputCityWrapper {
  text-align: center;
}

#cityInput {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;

  padding-left: 15px;
  font-size: 15px;
}

#dataWrapper {
  margin-top: 20px;

  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
}

.conditionOfCity {
  font-size: 40px;
}

.location {
  font-size: 17px;
}

.weatherInfo {
  padding-top: 30px;
}