body{
  padding: 1em;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  position: relative;
}

.inputCityWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.toggle {
  position: absolute;
  right: 0;
}

#cityInput {
  width: 500px;
  height: 28px;
  border-radius: 15px;
  border: 0.7px solid black;

  padding-left: 15px;
  font-size: 15px;
}

#dataWrapper:empty {
 display: none;
}

#dataBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dataWrapper {
  margin-top: 20px;

  width: fit-content;

  background-color: black;

  color: white;

  padding: 1em;

  text-align: center;
}

.conditionOfCity {
  font-size: 40px;
}


.location {
  /* text-align: center; */
  font-size: 17px;
}

.weatherInfo {
  /* text-align: center; */
  padding-top: 30px;
}

/* toggle  */
.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 29px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e2e2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c5e0f7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider.round:before {
  border-radius: 50%;
}